.vacio{
	height: 100px;
    line-height:100px;
    width: 500px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 5px;
    width: 1000px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: white;
    font-family:'Letter Gothic Std Medium';
	font-weight:normal;
}

.vacio>span {
	display:inline-block;
	vertical-align:middle;
	line-height:normal;
}

#lbvacio{
	font-size: 20px;
}